<div class="container">
    <h1>Empleados</h1>
    <div *ngIf="successMessage || errorMessage" class="alert" [ngClass]="{'alert-success': successMessage, 'alert-danger': errorMessage}">
        <button type="button" class="btn btn-success">
          <i class="bi bi-plus">Agregar</i>
        </button>
      <span *ngIf="successMessage">{{ successMessage }}</span>
      <span *ngIf="errorMessage">{{ errorMessage }}</span>
    </div>

    <table *ngIf="employeeItems.length >= 1" class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Nombre completo</th>
            <th>correo</th>
            <th>contraseña</th>
            <th>Acciones</th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of employeeItems;">
            <td>{{item.id_employees}}</td>
            <td>{{item.full_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.password}}</td>

            <section>
              <div class="example-button-row">
                <div class="example-flex-container">
                  <div class="example-button-container">
                    <td>
                      <button type="button" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                      </button>
                      <span> | </span>
                      <button type="button" class="btn btn-primary">
                        <i class="bi bi-pencil"></i>
                      </button>
                      
                    </td>
                  </div>
                </div>
              </div>
            </section>
          </tr>
        </tbody>
      </table>
</div>


<router-outlet />
