<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="router-link-active">
        <mat-icon aria-label="Side nav toggle icon" class="mat-icon-align">home</mat-icon>
        <span class="mat-text-align">Inicio</span>
      </a>
      <a mat-list-item routerLink="/employees" routerLinkActive="router-link-active">
        <mat-icon aria-label="Side nav toggle icon" class="mat-icon-align">people</mat-icon>
        <span class="mat-text-align">Empleados</span>
      </a>
      <a mat-list-item [routerLink]="['/menu']" routerLinkActive="router-link-active" >
        <mat-icon aria-label="Side nav toggle icon" class="mat-icon-align">restaurant</mat-icon>
        <span class="mat-text-align">Menu</span>
      </a>
      <a mat-list-item [routerLink]="['/category']" routerLinkActive="router-link-active">
        <mat-icon aria-label="Side nav toggle icon" class="mat-icon-align">book</mat-icon>
        <span class="mat-text-align">Categorias</span>
      </a>
      <a mat-list-item [routerLink]="['/tables']" routerLinkActive="router-link-active" >
        <mat-icon aria-label="Side nav toggle icon" class="mat-icon-align">event_seat</mat-icon>
        <span class="mat-text-align">Mesas</span>
      </a>
      <br>
      <a mat-list-item [routerLink]="['/configuration']" routerLinkActive="router-link-active" >
        <mat-icon aria-label="Side nav toggle icon" class="mat-icon-align">settings</mat-icon>
        <span class="mat-text-align">Configuración</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <div class="toolbar-content">
        <div class="left-content">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">restaurant_menu</mat-icon>
          </button>
          <span>Bienvenido</span>
        </div>
        <div class="right-content">
          <button
            type="button"
            aria-label="Exit app"
            mat-icon-button>
            <mat-icon aria-label="Side nav toggle icon">exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
