<div class="container">
  <h1>Productos del negocio</h1>


  <button type="button" class="btn btn-success bi     bi-plus" data-bs-toggle="modal" data-bs-target="#addMenu"
    data-bs-whatever="@mdo">Agregar
  </button>
  <br>
  <br>

  <table *ngIf="menuItems.length >= 1" class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>categoria</th>
        <th>tipo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paginatedData; trackBy: trackById">
        <td>{{item.id_menu}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.id_category}}</td>
        <td>{{item.type}}</td>
        <section>
          <div class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <td>

                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#showConfirmateDelete" (click)="setIdToDelete(item.id_menu)">
                    <i class="bi bi-trash"></i>
                  </button>
                  <span> | </span>

                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editMenu" (click)="setIdUpdate(item.id_menu, item)">
                    <i class="bi bi-pencil"></i>
                  </button>

                </td>
              </div>
            </div>
          </div>
        </section>
      </tr>
    </tbody>
  </table>

     <div *ngIf="menuItems.length === 0">
        <p class="text-center text-gray-600 dark:text-gray-600 mt-4">
          No hay datos para mostrar.
        </p>
      </div>

     <nav aria-label="Page navigation example" *ngIf="totalPages > 1" class="d-flex justify-content-center mt-4">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage - 1)">Atrás</a>
    </li>
    <li
      class="page-item"
      *ngFor="let page of getPages()"
      [class.active]="page === currentPage"
    >
      <a class="page-link" href="javascript:void(0)" (click)="goToPage(page)">
        {{ page }}
      </a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" href="javascript:void(0)" (click)="goToPage(currentPage + 1)">Siguiente</a>
    </li>
  </ul>
</nav>
      
      <div class="text-center text-sm text-gray-600 dark:text-gray-600 mt-2" *ngIf="paginatedData.length > 0">
        Mostrando {{ (currentPage - 1) * itemsPerPage + 1 }} - {{ (currentPage - 1) * itemsPerPage + paginatedData.length
        }} de {{ totalItems }} registros.
      </div>

<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="showConfirmateDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h2 class="modal-title text-center text-light" id="staticBackdropLabel">Confirmar Eliminación</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="text-center">
          <img src="assets/ic_warning.png" width="50" height="50">
          <br>
          ¿Estas seguro que deseas eliminarlo?
        </h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="deleteMenu()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

  <!-- Formulario desplegable para crear menu -->
<div class="modal fade" id="addMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Crear nuevo producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="createMenu()">
          <div class="mb-3">
            <label class="form-label">Nombre del producto:</label>
            <input type="text" class="form-control" [(ngModel)]="menuData.name" name="name" id="name" placeholder="Escriba un nombre">
          </div>

          <div class="mb-3">
            <label class="form-label">Descripción:</label>
            <input type="text" class="form-control" [(ngModel)]="menuData.description" name="description" id="description" placeholder="Escriba una descripción">
          </div>

          <div class="mb-3">
            <label class="form-label">Precio:</label>
            <input type="number" class="form-control" [(ngModel)]="menuData.price" name="price" id="">
          </div>

          <div class="mb-3">
            <label class="form-label">Categoría:</label>
            <select class="form-select" [(ngModel)]="menuData.id_category" name="id_category" id="id_category">
              <option *ngFor="let item of categoryItem" [value]="item.id_category">{{ item.type }}</option>
            </select>
          </div>
        </form>

        <button type="submit" class="btn btn-success" (click)="createMenu()">Crear</button>
        <span> | </span>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

  <!-- Formulario desplegable para editar menu -->
<div class="modal fade" id="editMenu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Editar menu seleccionado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="createMenu()">
          <div class="mb-3">
            <label class="form-label">ID</label>
            <input type="number" class="form-control" readonly [(ngModel)]="menuItemToEdit.id_menu" name="id" id="id">
          </div>

          <div class="mb-3">
            <label class="form-label">Nombre del producto:</label>
            <input type="text" class="form-control" [(ngModel)]="menuItemToEdit.name" name="name" id="name" placeholder="Escriba un nombre">
          </div>

          <div class="mb-3">
            <label class="form-label">Descripción:</label>
            <input type="text" class="form-control" [(ngModel)]="menuItemToEdit.description" name="description" id="description" placeholder="Escriba una descripción">
          </div>

          <div class="mb-3">
            <label class="form-label">Precio:</label>
            <input type="number" class="form-control" [(ngModel)]="menuItemToEdit.price" name="price" id="">
          </div>

          <div class="mb-3">
            <label class="form-label">Categoría:</label>
            <select class="form-select" [(ngModel)]="menuItemToEdit.id_category" name="id_category" id="id_category">
              <option *ngFor="let item of categoryItem" [value]="item.id_category">{{ item.type }}</option>
            </select>
          </div>
        </form>

        <button type="submit" class="btn btn-success" (click)="editMenu()">Actualizar</button>
        <span> | </span>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

</div>

<router-outlet />