<div class="container">
    <h1>Categorias</h1>
    <div *ngIf="successMessage || errorMessage" class="alert" [ngClass]="{'alert-success': successMessage, 'alert-danger': errorMessage}">

      <button type="button" class="btn btn-success bi     bi-plus" data-bs-toggle="modal" data-bs-target="#addCategory"
      data-bs-whatever="@mdo">Agregar
      </button>

      <span *ngIf="successMessage">{{ successMessage }}</span>
      <span *ngIf="errorMessage">{{ errorMessage }}</span>
    </div>

    <table *ngIf="categoriesItems.length >= 1" class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>tipo</th>
            <th>Acciones</th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of categoriesItems;">
            
            <td>{{item.id_category}}</td>
            <td>{{item.type}}</td>

            <section>
              <div class="example-button-row">
                <div class="example-flex-container">
                  <div class="example-button-container">
                    <td>
                      <button type="button" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                      </button>
                      <span> | </span>
                      <button type="button" class="btn btn-primary">
                        <i class="bi bi-pencil"></i>
                      </button>
                      
                    </td>
                  </div>
                </div>
              </div>
            </section>
          </tr>
        </tbody>
      </table>
      
    <!-- Formulario desplegable para crear categoria -->
    <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Crear configuración</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                  {{ errorMessage }}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="banderin === true">
                  {{ successMessage }}
                </div>
                  <form (ngSubmit)="createCategories()">

                      <div class="mb-3">
                          <label for="formGroupExampleInput" class="form-label">Nombre de la categoria:</label>
                          <input type="text" class="form-control" [(ngModel)]="type" name="type" id="type"
                          placeholder="Escriba un nombre">
                      </div>

                  </form>
                  <button type="submit" class="btn btn-success" (click)="createCategories()">Crear</button>
                  <span> | </span>
                  <button type="button" class="btn btn-danger" (click)="clearForm()" data-bs-dismiss="modal">Cancelar</button>
              </div>

          </div>
      </div>
  </div>
</div>


<router-outlet />

