<div class="container">
    <h1>Categorias</h1>
    <div *ngIf="successMessage || errorMessage" class="alert" [ngClass]="{'alert-success': successMessage, 'alert-danger': errorMessage}">

      <button type="button" class="btn btn-success bi     bi-plus" data-bs-toggle="modal" data-bs-target="#addCategory"
      data-bs-whatever="@mdo">Agregar
      </button>

      <span *ngIf="successMessage">{{ successMessage }}</span>
      <span *ngIf="errorMessage">{{ errorMessage }}</span>
    </div>

    <table *ngIf="categoriesItems.length >= 1" class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>tipo</th>
            <th>Acciones</th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of categoriesItems;">
            
            <td>{{item.id_category}}</td>
            <td>{{item.type}}</td>

            <section>
              <div class="example-button-row">
                <div class="example-flex-container">
                  <div class="example-button-container">
                    <td>

                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#showConfirmateDelete" (click)="setIdToDelete(item.id_category)">
                        <i class="bi bi-trash"></i>
                      </button>

                      <span> | </span>
                      
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCategory" (click)="setIdUpdate(item.id_category, item)">
                        <i class="bi bi-pencil"></i>
                      </button>
                      
                    </td>
                  </div>
                </div>
              </div>
            </section>
          </tr>
        </tbody>
      </table>
      
<!-- Toast de éxito o error -->
<div id="toastMessage" class="toast position-fixed bottom-0 end-0 p-3" role="alert" aria-live="assertive"
  aria-atomic="true" [ngClass]="{'show': errorMessage}">
  <div class="toast-header" [ngClass]="{'bg-danger': errorMessage}">
    <img src="assets/ic_notification.png" class="rounded me-2" alt="..." width="30" height="30">
    <strong class="me-auto" [ngClass]="{'text-light': errorMessage}">Mensaje del sistema</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    {{ errorMessage }}
  </div>
</div>

<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="showConfirmateDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h2 class="modal-title text-center text-light" id="staticBackdropLabel">Confirmar Eliminación</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="text-center">
          <img src="assets/ic_warning.png" width="50" height="50">
          <br>
          ¿Estas seguro que deseas eliminarlo?
        </h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="deleteCategories()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
      
    <!-- Formulario desplegable para crear categoria -->
    <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Crear configuración</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                  {{ errorMessage }}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="banderin === true">
                  {{ successMessage }}
                </div>
                  <form (ngSubmit)="createCategories()">

                      <div class="mb-3">
                          <label for="formGroupExampleInput" class="form-label">Nombre de la categoria:</label>
                          <input type="text" class="form-control" [(ngModel)]="type" name="type" id="type"
                          placeholder="Escriba un nombre">
                      </div>

                  </form>
                  <button type="submit" class="btn btn-success" (click)="createCategories()">Crear</button>
                  <span> | </span>
                  <button type="button" class="btn btn-danger" (click)="clearForm()" data-bs-dismiss="modal">Cancelar</button>
              </div>

          </div>
      </div>
  </div>
    <!-- Formulario desplegable para editar categoria -->
    <div class="modal fade" id="editCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Crear configuración</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                  {{ errorMessage }}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="banderin === true">
                  {{ successMessage }}
                </div>
                  <form (ngSubmit)="createCategories()">

                    <div class="mb-3">
                      <label class="form-label">ID</label>
                      <input type="number" class="form-control" readonly [(ngModel)]="dataUpCategory.id_category" name="id" id="id">
                    </div>

                      <div class="mb-3">
                          <label for="formGroupExampleInput" class="form-label">Nombre de la categoria:</label>
                          <input type="text" class="form-control" [(ngModel)]="dataUpCategory.type" name="type" id="type"
                          placeholder="Escriba un nombre">
                      </div>

                  </form>
                  <button type="submit" class="btn btn-success" (click)="updateCategory()">Editar</button>
                  <span> | </span>
                  <button type="button" class="btn btn-danger" (click)="clearForm()" data-bs-dismiss="modal">Cancelar</button>
              </div>

          </div>
      </div>
  </div>
</div>


<router-outlet />

