<h1>Mesas</h1>
<div *ngIf="successMessage || errorMessage" class="alert" [ngClass]="{'alert-success': successMessage, 'alert-danger': errorMessage}">
<span *ngIf="successMessage">{{ successMessage }}</span>
<span *ngIf="errorMessage">{{ errorMessage }}</span>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4">
  <div class="col" *ngFor="let table of tablesInterface">
    <div class="card h-60">
      <p>
        <a class="p-3 d-inline-flex focus-ring focus-ring-secondary py-1 px-2 text-decoration-none border rounded-2"
           [ngClass]="{'text-bg-success': table.status === 'Disponible', 'text-bg-danger': table.status === 'Ocupado'}">
          {{ table.status }}
        </a>
      </p>
      <img src="assets/mesas-dos.jpg" class="card-img-top" width="100" height="100" alt="...">
      <div class="card-body">
        <h4>Mesa número: {{ table.table_number }}</h4>
        <a class="btn btn-warning" [routerLink]="['/orderPayment']" routerLinkActive="router-link-active">Ocupar mesa</a>
      </div>
    </div>
  </div>
</div>
<router-outlet />
